# Python venv and caches
venv/
venv311/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
coverage.xml

# IDE & Logs
.vscode/
*.log
inspection_output.txt
rapports_generes/

# Dumps and Large Binary Data
*.dump
docker-deploy/ollama_data/

# Private Soutenance Guides
SOUTENANCE_DEVOPS.html
GUIDE_DEVOPS_SOUTENANCE.md
scratch/
.env
*.env
docker-deploy/nginx/certs/

# Security & Temp files
*.bak
docker-deploy/odoo.conf
test.sh
vagrant_tests.ps1
prometheus_jenkins_test.ps1
check_restart.ps1
